@import "colors";
 nav{
    background-color:rgb(30, 167, 225);
    display: flex;
    justify-content: space-between;
    padding: 3rem  2rem;

    h2{
        text-transform: uppercase;
        color: $primary;
    }
    > div{
        display: flex;
        align-items: center;
        > a {
            color: $primary;
            font-size: 1.6rem;
            margin: 0 1rem;
            transition: all 0.3s;
            &:hover{
                opacity: 0.5;
            }
            > p{
                position: absolute;
                background-color: $tertiary;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                font: 900 0.7rem "Roboto";
                display: grid;
                place-items: center;
                transform: translate(80%, -80%);

            }
        }
    }
 }